<?xml version='1.0' encoding='utf-8'?>
<plugin id="id.my.tauhidslab.httpreq" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-simple-http-request</name>
    <js-module name="HTTPReq" src="www/HTTPReq.js">
        <clobbers target="HTTPReq" />
    </js-module>
	<platform name="android">
		<config-file file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
			<application android:usesCleartextTraffic="true" />
		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<preference name="AndroidInsecureFileModeEnabled" value="true"/>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
	</platform>
</plugin>
